<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Telegraph.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9C2884659A16D28C00D3FCF6BC501A0A4BE71141</string>
				<key>dateExpires</key>
				<string>2022/3/13</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C2884659A16D28C00D3FCF6BC501A0A4BE71141</string>
						<key>dateExpires</key>
						<string>2022/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LegacyDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN7LC59DUC</string>
						<key>name</key>
						<string>JSCOPE INFOWAY PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C2884659A16D28C00D3FCF6BC501A0A4BE71141</string>
						<key>dateExpires</key>
						<string>2022/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MtProtoKitDynamic.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN7LC59DUC</string>
						<key>name</key>
						<string>JSCOPE INFOWAY PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C2884659A16D28C00D3FCF6BC501A0A4BE71141</string>
						<key>dateExpires</key>
						<string>2022/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>DN7LC59DUC.im.togo.app.imclient.shared</string>
						<key>com.apple.developer.team-identifier</key>
						<string>DN7LC59DUC</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.im.togo.app.imclient</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Share.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>95606172-be31-4be3-a15b-c43b48d3aed9</string>
						<key>name</key>
						<string>TogoIM-iOS-Shared</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN7LC59DUC</string>
						<key>name</key>
						<string>JSCOPE INFOWAY PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C2884659A16D28C00D3FCF6BC501A0A4BE71141</string>
						<key>dateExpires</key>
						<string>2022/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>DN7LC59DUC.im.togo.app.imclient.siri.intents</string>
						<key>com.apple.developer.team-identifier</key>
						<string>DN7LC59DUC</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.im.togo.app.imclient</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>SiriIntents.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>5a54147e-b6b6-423f-96b6-7712c6d34dc2</string>
						<key>name</key>
						<string>TogoIM-iOS-Siri</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN7LC59DUC</string>
						<key>name</key>
						<string>JSCOPE INFOWAY PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C2884659A16D28C00D3FCF6BC501A0A4BE71141</string>
						<key>dateExpires</key>
						<string>2022/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>DN7LC59DUC.im.togo.app.imclient.widget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>DN7LC59DUC</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>DN7LC59DUC.im.togo.app.imclient.widget</string>
						</array>
					</dict>
					<key>name</key>
					<string>Widget.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b81d9e22-d0d1-452a-af19-1b414fc2dca3</string>
						<key>name</key>
						<string>TogoIM-iOS-Widget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN7LC59DUC</string>
						<key>name</key>
						<string>JSCOPE INFOWAY PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>armv7k</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C2884659A16D28C00D3FCF6BC501A0A4BE71141</string>
						<key>dateExpires</key>
						<string>2022/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
								<string>arm64_32</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>9C2884659A16D28C00D3FCF6BC501A0A4BE71141</string>
								<key>dateExpires</key>
								<string>2022/3/13</string>
								<key>type</key>
								<string>iOS Distribution</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>DN7LC59DUC.im.togo.app.imclient.watch.ext</string>
								<key>com.apple.developer.team-identifier</key>
								<string>DN7LC59DUC</string>
								<key>com.apple.security.application-groups</key>
								<array>
									<string>group.im.togo.app.imclient</string>
								</array>
								<key>get-task-allow</key>
								<false/>
							</dict>
							<key>name</key>
							<string>watchkitapp Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>02287083-9174-4f0f-8fa7-17479c540063</string>
								<key>name</key>
								<string>TogoIM-iOS-Watch-Ext</string>
							</dict>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>DN7LC59DUC</string>
								<key>name</key>
								<string>JSCOPE INFOWAY PRIVATE LIMITED</string>
							</dict>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>DN7LC59DUC.im.togo.app.imclient.watch</string>
						<key>com.apple.developer.team-identifier</key>
						<string>DN7LC59DUC</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.im.togo.app.imclient</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>watchkitapp.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>f6447c11-78b3-4d53-9f33-2f90183dba1c</string>
						<key>name</key>
						<string>TogoIM-iOS-Watch</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN7LC59DUC</string>
						<key>name</key>
						<string>JSCOPE INFOWAY PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DN7LC59DUC.im.togo.app.imclient</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.im.togo.app.imclient</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>DN7LC59DUC</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>DN7LC59DUC.im.togo.app.imclient</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.im.togo.app.imclient</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Telegram.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>613b94a7-5108-4394-bd8d-6768070ff973</string>
				<key>name</key>
				<string>TogoIM-iOS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DN7LC59DUC</string>
				<key>name</key>
				<string>JSCOPE INFOWAY PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
